<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>MIR Display</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
<h1>
	MIR Display
</h1>

{% if err_msg %}
<h4>{{ err_msg }}</h4>
{% endif %}

<form method = "get" action = "{% url 'result' %}">
	<select name = 'dataset'>
		{% for dataset in datasetnames %}
		<option value = {{ dataset }}>{{ dataset }}</option>
		{% endfor %}
	</select>
	<button type="submit">Go!</div>
</form>

</body>
